header {
  background-color:black;
  min-height: 5em;
}

#header-text {
  color: white;
  font-family: 'Neuton', serif;
  font-size: 3em;
  margin-left: 1em;
  img {
    margin-top: 10px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}

.container {
  @include outer-container;
  margin-top: 4em;
  background-color:rgba(0,0,0,.1)
  }

#menu {
  @include span-columns(4);
  line-height:2em;
  li a {
    color: black;

    &:hover {
      color: $loon-blue
    }
  }
}

#songs {
  @include span-columns(8);
}

.card {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  //////////////////////////////////////////////////////////////////////////////////

  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: lighten($loon-blue, 15%);
  $card-hover-background: darken($card-header-background, 5%);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5%);
  $card-margin: 1em;


  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  position: relative;
  // text-align: center;

  .card-image {
    overflow: hidden;
    max-height: 150px;

    img {
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: black;
    // background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    color: white;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    .original_song {
      font-size: 0.8em;
      font-weight: normal;
    }
  }

  .card-copy {
    font-size: 1em;
    line-height: 1.2em;
    padding: ($base-spacing / 2) ($base-spacing / 2);
    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    .card-image img {
      background: $card-image-hover-background;
    }

    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}