#chants{data: {role: "page", theme: 'a'} }
  %div{data: {role: "header", position: "fixed", tap_toggle:"false", theme: 'b'}}
    %h1 MNUFC
  #scroll-area
    %div.ui-list-view{data: {role: 'content'}}
      %ul{data: {role:'listview', inset: 'false', icon: 'false', divider_theme: 'b'}}
        %li
          -@songs.each do |song|
            %a{href: "##{song.slug}"}
              =song.title

-@songs.each do |song|
  %div{id: "#{song.slug}", data: {role: 'page'}}
    %div{data: {role: 'header'}}
      %a{href: '#chants', data_ajax: 'false'}
        %i.fa.fa-chevron-left
      %h1=song.title
    .ui-content{data: {role: 'main'}}
      %h2 Lyrics
      =raw(song.lyrics)
      %h4 Sung To The Tune Of: #{link_to song.original_song, song.original_song_url}
      %h4 Soundcloud: #{link_to song.soundcloud_url, song.soundcloud_url}