%header
  %h1#header-text
    Unofficial Dark Clouds Songbook
    =image_tag("cloud.jpeg", height: '50')
.container
  %ul#menu
    -@songs.each do |song|
      %li
        .lyric_link
          =link_to song.title, show_song_path(song: song), remote:true
  #songs
    #card-holder
%footer
  %p
    Code lives on
    %i.fa.fa-github
    =link_to "(Pull requests welcome!)", "https://github.com/estiens/dark-clouds-lyrics"
  %p.tiny
    Original mobile code by
    =link_to "Drew Jensen", "https://github.com/DrewOJensen"
    |
    Rails code and desktop code by
    =link_to "Eric Stiens", "https://github.com/estiens"
    |
    Dark Clouds live
    =link_to "here", "http://www.dark-clouds.com/"