%header
  %h1#header-text
    Unofficial Dark Clouds Songbook
.container
  %ul#menu
    -@songs.each do |song|
      %li
        .lyric_link
          =link_to song.title, show_song_path(song: song), remote:true
  #songs
    #card-holder
#footer